In [1]:
import pandas as pd
from sqlalchemy import create_engine,text

In [2]:
from sqlalchemy import create_engine, text
from urllib.parse import quote_plus

password = quote_plus("Pikachu@123")

engine = create_engine(
    f"mysql+pymysql://root:{password}@localhost:3306/sql_db",
    echo=True
)

with engine.connect() as conn:
    conn.execute(text("SELECT 1"))
    print("✅ Connected successfully")

2025-12-18 13:37:00,502 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-12-18 13:37:00,503 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-18 13:37:00,507 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-12-18 13:37:00,508 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-18 13:37:00,509 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-12-18 13:37:00,510 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-18 13:37:00,513 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-18 13:37:00,514 INFO sqlalchemy.engine.Engine SELECT 1
2025-12-18 13:37:00,515 INFO sqlalchemy.engine.Engine [generated in 0.00111s] {}
✅ Connected successfully
2025-12-18 13:37:00,516 INFO sqlalchemy.engine.Engine ROLLBACK

## Total Suppliers

In [ ]:
def total_supplier():
    query1="SELECT COUNT(DISTINCT supplier_name) AS Toal_Supplier FROM suppliers"
    df1= pd.read_sql(query1,engine)
    return int(df1.iloc[0][0])

In [14]:
total_supplier()

2025-12-18 14:06:34,626 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-18 14:06:34,629 INFO sqlalchemy.engine.Engine DESCRIBE `sql_db`.`SELECT COUNT(DISTINCT supplier_name) AS Toal_Supplier FROM suppliers`
2025-12-18 14:06:34,630 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-18 14:06:34,656 INFO sqlalchemy.engine.Engine SELECT COUNT(DISTINCT supplier_name) AS Toal_Supplier FROM suppliers
2025-12-18 14:06:34,658 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-18 14:06:34,759 INFO sqlalchemy.engine.Engine ROLLBACK

C:\Users\khanz\AppData\Local\Temp\ipykernel_14916\42708818.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return df1.iloc[0][0]

np.int64(50)

## Total Products

In [15]:
def total_products():
    query2="SELECT COUNT(DISTINCT product_name) AS Total_products FROM products"
    df2=pd.read_sql(query2,engine)
    return int(df2['Total_products'].iloc[0])

In [16]:
total_products()

2025-12-18 14:40:01,576 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-18 14:40:01,578 INFO sqlalchemy.engine.Engine DESCRIBE `sql_db`.`SELECT COUNT(DISTINCT product_name) AS Total_products FROM products`
2025-12-18 14:40:01,580 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-18 14:40:01,584 INFO sqlalchemy.engine.Engine SELECT COUNT(DISTINCT product_name) AS Total_products FROM products
2025-12-18 14:40:01,585 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-18 14:40:01,598 INFO sqlalchemy.engine.Engine ROLLBACK

195

In [19]:
def total_categories():
    query3="SELECT COUNT(DISTINCT category) AS toal_categories FROM products"
    df3=pd.read_sql(query3,engine)
    return int(df3['toal_categories'].iloc[0])

In [20]:
total_categories()

2025-12-18 14:43:36,668 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-18 14:43:36,670 INFO sqlalchemy.engine.Engine DESCRIBE `sql_db`.`SELECT COUNT(DISTINCT category) AS toal_categories FROM products`
2025-12-18 14:43:36,671 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-18 14:43:36,674 INFO sqlalchemy.engine.Engine SELECT COUNT(DISTINCT category) AS toal_categories FROM products
2025-12-18 14:43:36,675 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-18 14:43:36,678 INFO sqlalchemy.engine.Engine ROLLBACK

7

## Total sales made in last three months

In [23]:
def total_sales():
    query3="""SELECT ROUND(SUM(p.price*abs(s.change_quantity)),2) AS total_sales
    FROM products as p
    INNER JOIN stock as s
    ON p.product_id=s.product_id
    WHERE entry_date>=(SELECT DATE_SUB(MAX(entry_date),interval 10 month) from stock) and change_type='Sale'"""
    df3=pd.read_sql(query3,engine)
    return int(df3['total_sales'].iloc[0])

In [24]:
total_sales()

2025-12-19 01:53:30,007 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-19 01:53:30,008 INFO sqlalchemy.engine.Engine DESCRIBE `sql_db`.`SELECT ROUND(SUM(p.price*abs(s.change_quantity)),2) AS total_sales
    FROM products as p
    INNER JOIN stock as s
    ON p.product_id=s.product_id
    WHERE entry_date>=(SELECT DATE_SUB(MAX(entry_date),interval 10 month) from stock) and change_type='Sale'`
2025-12-19 01:53:30,010 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-19 01:53:30,012 INFO sqlalchemy.engine.Engine SELECT ROUND(SUM(p.price*abs(s.change_quantity)),2) AS total_sales
    FROM products as p
    INNER JOIN stock as s
    ON p.product_id=s.product_id
    WHERE entry_date>=(SELECT DATE_SUB(MAX(entry_date),interval 10 month) from stock) and change_type='Sale'
2025-12-19 01:53:30,013 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-19 01:53:30,022 INFO sqlalchemy.engine.Engine ROLLBACK

1656603

In [25]:
def total_restock():
    query3="""SELECT ROUND(SUM(p.price*abs(s.change_quantity)),2) AS total_restock
    FROM products as p
    INNER JOIN stock as s
    ON p.product_id=s.product_id
    WHERE entry_date>=(SELECT DATE_SUB(MAX(entry_date),interval 10 month) from stock) and change_type='Restock'"""
    df3=pd.read_sql(query3,engine)
    return int(df3['total_restock'].iloc[0])

In [26]:
total_restock()

2025-12-19 01:55:18,891 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-19 01:55:18,892 INFO sqlalchemy.engine.Engine DESCRIBE `sql_db`.`SELECT ROUND(SUM(p.price*abs(s.change_quantity)),2) AS total_restock
    FROM products as p
    INNER JOIN stock as s
    ON p.product_id=s.product_id
    WHERE entry_date>=(SELECT DATE_SUB(MAX(entry_date),interval 10 month) from stock) and change_type='Restock'`
2025-12-19 01:55:18,893 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-19 01:55:18,894 INFO sqlalchemy.engine.Engine SELECT ROUND(SUM(p.price*abs(s.change_quantity)),2) AS total_restock
    FROM products as p
    INNER JOIN stock as s
    ON p.product_id=s.product_id
    WHERE entry_date>=(SELECT DATE_SUB(MAX(entry_date),interval 10 month) from stock) and change_type='Restock'
2025-12-19 01:55:18,895 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-19 01:55:18,906 INFO sqlalchemy.engine.Engine ROLLBACK

7820131

In [27]:
def low_stock():
    query="""SELECT COUNT(DISTINCT p.product_id) as count_
    FROM products as p
    LEFT JOIN reorders as r
    ON p.product_id=r.product_id
    WHERE P.stock_quantity<p.reorder_level AND r.product_id IS NULL"""
    df=pd.read_sql(query,engine)
    return int(df['count_'].iloc[0])

In [28]:
low_stock()

2025-12-19 01:59:50,282 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-19 01:59:50,283 INFO sqlalchemy.engine.Engine DESCRIBE `sql_db`.`SELECT COUNT(DISTINCT p.product_id) as count_
    FROM products as p
    LEFT JOIN reorders as r
    ON p.product_id=r.product_id
    WHERE P.stock_quantity<p.reorder_level AND r.product_id IS NULL`
2025-12-19 01:59:50,285 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-19 01:59:50,289 INFO sqlalchemy.engine.Engine SELECT COUNT(DISTINCT p.product_id) as count_
    FROM products as p
    LEFT JOIN reorders as r
    ON p.product_id=r.product_id
    WHERE P.stock_quantity<p.reorder_level AND r.product_id IS NULL
2025-12-19 01:59:50,290 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-19 01:59:50,297 INFO sqlalchemy.engine.Engine ROLLBACK

4