In [24]:
import pandas as pd
from sqlalchemy import create_engine,text

In [25]:
from sqlalchemy import create_engine, text
from urllib.parse import quote_plus

password = quote_plus("Pikachu@123")

engine = create_engine(
    f"mysql+pymysql://root:{password}@localhost:3306/sql_db",
    echo=True
)

with engine.connect() as conn:
    conn.execute(text("SELECT 1"))
    print("✅ Connected successfully")

2025-12-20 01:39:51,746 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-12-20 01:39:51,748 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-20 01:39:51,751 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-12-20 01:39:51,752 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-20 01:39:51,753 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-12-20 01:39:51,754 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-20 01:39:51,756 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-20 01:39:51,757 INFO sqlalchemy.engine.Engine SELECT 1
2025-12-20 01:39:51,758 INFO sqlalchemy.engine.Engine [generated in 0.00179s] {}
✅ Connected successfully
2025-12-20 01:39:51,760 INFO sqlalchemy.engine.Engine ROLLBACK

## Total Suppliers

In [3]:
def total_supplier():
    query1="SELECT COUNT(DISTINCT supplier_name) AS Toal_Supplier FROM suppliers"
    df1= pd.read_sql(query1,engine)
    return int(df1.iloc[0][0])

In [4]:
total_supplier()

2025-12-20 00:41:39,976 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-20 00:41:39,978 INFO sqlalchemy.engine.Engine DESCRIBE `sql_db`.`SELECT COUNT(DISTINCT supplier_name) AS Toal_Supplier FROM suppliers`
2025-12-20 00:41:39,979 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-20 00:41:39,981 INFO sqlalchemy.engine.Engine SELECT COUNT(DISTINCT supplier_name) AS Toal_Supplier FROM suppliers
2025-12-20 00:41:39,981 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-20 00:41:39,985 INFO sqlalchemy.engine.Engine ROLLBACK

C:\Users\khanz\AppData\Local\Temp\ipykernel_8100\3346554657.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return int(df1.iloc[0][0])

50

## Total Products

In [5]:
def total_products():
    query2="SELECT COUNT(DISTINCT product_name) AS Total_products FROM products"
    df2=pd.read_sql(query2,engine)
    return int(df2['Total_products'].iloc[0])

In [6]:
total_products()

2025-12-20 00:41:40,028 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-20 00:41:40,030 INFO sqlalchemy.engine.Engine DESCRIBE `sql_db`.`SELECT COUNT(DISTINCT product_name) AS Total_products FROM products`
2025-12-20 00:41:40,031 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-20 00:41:40,032 INFO sqlalchemy.engine.Engine SELECT COUNT(DISTINCT product_name) AS Total_products FROM products
2025-12-20 00:41:40,033 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-20 00:41:40,036 INFO sqlalchemy.engine.Engine ROLLBACK

195

In [7]:
def total_categories():
    query3="SELECT COUNT(DISTINCT category) AS toal_categories FROM products"
    df3=pd.read_sql(query3,engine)
    return int(df3['toal_categories'].iloc[0])

In [8]:
total_categories()

2025-12-20 00:41:40,081 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-20 00:41:40,082 INFO sqlalchemy.engine.Engine DESCRIBE `sql_db`.`SELECT COUNT(DISTINCT category) AS toal_categories FROM products`
2025-12-20 00:41:40,083 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-20 00:41:40,087 INFO sqlalchemy.engine.Engine SELECT COUNT(DISTINCT category) AS toal_categories FROM products
2025-12-20 00:41:40,089 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-20 00:41:40,092 INFO sqlalchemy.engine.Engine ROLLBACK

7

## Total sales made in last 10 months

In [9]:
def total_sales():
    query3="""SELECT ROUND(SUM(p.price*abs(s.change_quantity)),2) AS total_sales
    FROM products as p
    INNER JOIN stock as s
    ON p.product_id=s.product_id
    WHERE entry_date>=(SELECT DATE_SUB(MAX(entry_date),interval 10 month) from stock) and change_type='Sale'"""
    df3=pd.read_sql(query3,engine)
    return int(df3['total_sales'].iloc[0])

In [10]:
total_sales()

2025-12-20 00:41:40,121 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-20 00:41:40,122 INFO sqlalchemy.engine.Engine DESCRIBE `sql_db`.`SELECT ROUND(SUM(p.price*abs(s.change_quantity)),2) AS total_sales
    FROM products as p
    INNER JOIN stock as s
    ON p.product_id=s.product_id
    WHERE entry_date>=(SELECT DATE_SUB(MAX(entry_date),interval 10 month) from stock) and change_type='Sale'`
2025-12-20 00:41:40,123 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-20 00:41:40,124 INFO sqlalchemy.engine.Engine SELECT ROUND(SUM(p.price*abs(s.change_quantity)),2) AS total_sales
    FROM products as p
    INNER JOIN stock as s
    ON p.product_id=s.product_id
    WHERE entry_date>=(SELECT DATE_SUB(MAX(entry_date),interval 10 month) from stock) and change_type='Sale'
2025-12-20 00:41:40,125 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-20 00:41:40,135 INFO sqlalchemy.engine.Engine ROLLBACK

1656603

## Total Restock made in last 10 months

In [11]:
def total_restock():
    query3="""SELECT ROUND(SUM(p.price*abs(s.change_quantity)),2) AS total_restock
    FROM products as p
    INNER JOIN stock as s
    ON p.product_id=s.product_id
    WHERE entry_date>=(SELECT DATE_SUB(MAX(entry_date),interval 10 month) from stock) and change_type='Restock'"""
    df3=pd.read_sql(query3,engine)
    return int(df3['total_restock'].iloc[0])

In [12]:
total_restock()

2025-12-20 00:41:40,213 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-20 00:41:40,214 INFO sqlalchemy.engine.Engine DESCRIBE `sql_db`.`SELECT ROUND(SUM(p.price*abs(s.change_quantity)),2) AS total_restock
    FROM products as p
    INNER JOIN stock as s
    ON p.product_id=s.product_id
    WHERE entry_date>=(SELECT DATE_SUB(MAX(entry_date),interval 10 month) from stock) and change_type='Restock'`
2025-12-20 00:41:40,214 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-20 00:41:40,216 INFO sqlalchemy.engine.Engine SELECT ROUND(SUM(p.price*abs(s.change_quantity)),2) AS total_restock
    FROM products as p
    INNER JOIN stock as s
    ON p.product_id=s.product_id
    WHERE entry_date>=(SELECT DATE_SUB(MAX(entry_date),interval 10 month) from stock) and change_type='Restock'
2025-12-20 00:41:40,216 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-20 00:41:40,227 INFO sqlalchemy.engine.Engine ROLLBACK

7820131

## Low Stock product count

In [13]:
def low_stock():
    query="""SELECT COUNT(DISTINCT p.product_id) as count_
    FROM products as p
    LEFT JOIN reorders as r
    ON p.product_id=r.product_id
    WHERE P.stock_quantity<p.reorder_level AND r.product_id IS NULL"""
    df=pd.read_sql(query,engine)
    return int(df['count_'].iloc[0])

In [14]:
low_stock()

2025-12-20 00:41:40,263 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-20 00:41:40,264 INFO sqlalchemy.engine.Engine DESCRIBE `sql_db`.`SELECT COUNT(DISTINCT p.product_id) as count_
    FROM products as p
    LEFT JOIN reorders as r
    ON p.product_id=r.product_id
    WHERE P.stock_quantity<p.reorder_level AND r.product_id IS NULL`
2025-12-20 00:41:40,265 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-20 00:41:40,266 INFO sqlalchemy.engine.Engine SELECT COUNT(DISTINCT p.product_id) as count_
    FROM products as p
    LEFT JOIN reorders as r
    ON p.product_id=r.product_id
    WHERE P.stock_quantity<p.reorder_level AND r.product_id IS NULL
2025-12-20 00:41:40,267 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-20 00:41:40,270 INFO sqlalchemy.engine.Engine ROLLBACK

4

In [16]:
def supplier_details():
    query="SELECT supplier_name,contact_name,email,phone FROM suppliers"
    return pd.read_sql(query,engine)

In [17]:
supplier_details()

2025-12-20 00:43:17,104 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-20 00:43:17,105 INFO sqlalchemy.engine.Engine DESCRIBE `sql_db`.`SELECT supplier_name,contact_name,email,phone FROM suppliers`
2025-12-20 00:43:17,105 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-20 00:43:17,109 INFO sqlalchemy.engine.Engine SELECT supplier_name,contact_name,email,phone FROM suppliers
2025-12-20 00:43:17,110 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-20 00:43:17,117 INFO sqlalchemy.engine.Engine ROLLBACK

,supplier_name,contact_name,email,phone
0,Anderson-Thompson,Bonnie Davis,zacharysanchez@hotmail.com,829.485.9853x0522
1,Rowland Ltd,Beth Stevens,joshua60@yahoo.com,(779)942-0726
2,Baxter-Meadows,Lisa Lewis,andersonchristina@yahoo.com,449-766-7325
3,"Wilson, Graham and Williams",David Martinez,abrown@hotmail.com,+1-653-827-5215x266
4,"Smith, Kennedy and Moreno",Victoria Gonzalez,mary30@williams-moore.com,891-859-2775x35297
5,Middleton LLC,Megan Miller,kelseywilliams@gmail.com,001-724-731-6199x4596
6,Evans Inc,Danielle Moore,ihoffman@warren.com,+1-951-447-1975x770
7,"Lawrence, Garcia and Hernandez",Tamara Johnson,georgeherrera@hotmail.com,+1-635-460-8476x270
8,"Young, Browning and Ware",Heather Hill,stephensjason@yahoo.com,(514)361-6411x489
9,"Newton, Valencia and Carr",Kimberly Collins,jonathanjohnston@ashley-williams.com,762-368-3504x8972
10,"Vega, Cook and Miller",Stephen Rogers,ianderson@thompson.com,(545)747-7182x90685
11,Mendoza-Jones,Daniel Archer,clarketodd@bush-parker.com,077.020.6783x0807
12,Gallagher-Miller,Michael Moore,jesse95@gmail.com,+1-462-260-2525x67365
13,Miller-Martinez,Paula Morales,floresderek@yahoo.com,+1-700-794-1809x5862
14,Freeman-Gordon,Zachary Garcia,angela33@humphrey.org,172-492-5671
15,Tucker-Arnold,Katherine Lopez DVM,michelle03@hotmail.com,001-661-335-2179x4217
16,Gomez PLC,James Fernandez,lovewarren@harris.info,661-353-3289
17,Moss-Evans,Jennifer Green,crystalroth@yahoo.com,+1-877-605-7924x7393
18,Charles Inc,Lori Liu,suzanne20@donaldson.net,+1-059-663-9297x67941
19,Ortega-Mahoney,Teresa Miller,ile@hotmail.com,001-415-849-5736x81908
20,Mann-Marshall,Scott Watts,colejoseph@hotmail.com,7317296630
21,Hudson Inc,Michael Nguyen,ucochran@osborn.com,+1-563-056-3764x85079
22,Douglas Ltd,Jonathan White,michael15@hotmail.com,001-734-858-5527x84897
23,"Barker, White and Carson",Cesar Moore,qhogan@yahoo.com,(521)673-3153x7796
24,Barrett Ltd,Kim Wheeler,william52@hotmail.com,+1-887-075-4700
25,Tran LLC,Anthony Jacobs,bdavis@fuller.com,(460)711-5746
26,"Franklin, Kane and Price",John Mueller,mitchellpierce@gmail.com,230.183.6177x07682
27,"Stewart, Williams and Cox",Nichole Fuller,mitchelllauren@hotmail.com,001-632-585-1111x529
28,Johnson-Bass,Megan Carroll,fernandeztiffany@page.net,3531846182
29,Lloyd and Sons,Sarah Ross,heathkaren@gmail.com,064-804-0646x199
30,Taylor-Love,Daniel Mcgrath,perrykeith@kennedy.com,841-905-8982x711
31,Elliott-Ayers,Kelly Avery,joseph44@moore-soto.biz,768-127-8200x348
32,Reynolds-Phillips,Ashlee Montoya,stonewesley@bowen-salinas.biz,+1-869-461-6007x4674
33,Moody-Vang,Joseph Peterson,hward@hotmail.com,001-530-230-6560x82908
34,"Perez, Price and Wallace",James Rich,natashapierce@knox.com,409.569.6703
35,Wong Group,Lauren Humphrey,hayeseric@george.com,546-100-3064x5276
36,Kaufman Ltd,Chelsea Young,wendy80@smith.net,(434)045-1867x11846
37,Harris-Cummings,Jonathan Foley,david30@hotmail.com,001-034-624-8811x93395
38,Turner-Davis,Matthew Walker,wmurphy@mathis.org,579-218-9601x54220
39,Hall-Brown,Richard Ballard,horneandrew@morgan.biz,+1-500-926-9681
40,Clark Group,Stephen George DVM,royjessica@hotmail.com,(769)553-5373
41,Henderson LLC,David Moore,benjamin57@yahoo.com,122.972.2988x83535
42,Rowe PLC,Kevin Mcpherson,marco90@edwards-moran.com,496-064-5206x9241
43,Rogers-Greene,Brady Brown,mcdowellkimberly@hotmail.com,883-297-7964x15108
44,"Patrick, Walter and Harrison",Mark Stevens,ymiller@hotmail.com,(561)464-9376x280
45,Williams Ltd,Jeffery Allen,jcooper@kim-cook.org,316-798-3465x4653
46,Morgan-Andrews,Cathy Marshall,fjohnson@gmail.com,088-233-7178x6223
47,Armstrong-Vance,Regina Nicholson,jacobsonjohn@hotmail.com,+1-836-020-7265x14208
48,Morgan Inc,Eric Farmer,pricejaclyn@jimenez.com,(672)354-2529x76848
49,Hensley-Branch,Jordan Clark,alextucker@freeman.com,(120)216-0730x2946

In [19]:
def product_suppliers():
    query="""SELECT p.product_name,s.supplier_name,p.stock_quantity,p.reorder_level
        FROM products as p
        INNER JOIN suppliers as s
        ON p.supplier_id=s.supplier_id"""
    return pd.read_sql(query,engine)

In [20]:
product_suppliers()

2025-12-20 00:54:03,841 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-20 00:54:03,842 INFO sqlalchemy.engine.Engine DESCRIBE `sql_db`.`SELECT p.product_name,s.supplier_name,p.stock_quantity,p.reorder_level
        FROM products as p
        INNER JOIN suppliers as s
        ON p.supplier_id=s.supplier_id`
2025-12-20 00:54:03,843 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-20 00:54:03,846 INFO sqlalchemy.engine.Engine SELECT p.product_name,s.supplier_name,p.stock_quantity,p.reorder_level
        FROM products as p
        INNER JOIN suppliers as s
        ON p.supplier_id=s.supplier_id
2025-12-20 00:54:03,847 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-20 00:54:03,867 INFO sqlalchemy.engine.Engine ROLLBACK

      product_name              supplier_name  stock_quantity  reorder_level
0      Just Device                Charles Inc             847            114
1        And Table              Henderson LLC             100             99
2        Six Table                Douglas Ltd             442             76
3       Tax Device                 Morgan Inc             644             84
4    Foreign Table  Smith, Kennedy and Moreno             959             86
..             ...                        ...             ...            ...
200  Android Phone  Smith, Kennedy and Moreno             200            100
201  Android Phone  Smith, Kennedy and Moreno             200            100
202  Android Phone  Smith, Kennedy and Moreno             200            100
203    Smart Watch   Young, Browning and Ware             300            150
204        Cricket                  Evans Inc             400            100

[205 rows x 4 columns]

## Products Needing Reorder

In [21]:
def products_reorder():
    query="""SELECT product_name,stock_quantity,reorder_level
        FROM products 
        WHERE stock_quantity<reorder_level
    """
    return pd.read_sql(query,engine)

In [22]:
products_reorder()

2025-12-20 01:04:37,385 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-20 01:04:37,388 INFO sqlalchemy.engine.Engine DESCRIBE `sql_db`.`SELECT product_name,stock_quantity,reorder_level
        FROM products
        WHERE stock_quantity<reorder_level
    `
2025-12-20 01:04:37,390 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-20 01:04:37,395 INFO sqlalchemy.engine.Engine SELECT product_name,stock_quantity,reorder_level
        FROM products
        WHERE stock_quantity<reorder_level

2025-12-20 01:04:37,396 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-20 01:04:37,409 INFO sqlalchemy.engine.Engine ROLLBACK

       product_name  stock_quantity  reorder_level
0       Next Device              26            200
1       Race Device             108            183
2         Close Toy              46            161
3        Hard Snack              79            200
4       Staff Shirt             191            200
5         Floor Toy              67            194
6         Throw Toy              93            155
7        Fund Table              61            112
8   Executive Table              38            140
9     However Table              43             52
10   Certain Device              10            112
11       This Snack              20             66
12       Within Toy              26            189
13      Least Table              58             71
14   Building Snack               4             92
15     Return Table              39            182
16   Security Shirt              25             70
17     Manage Snack              63            171
18   Suddenly Table              53            166
19        Nor Snack             122            194
20      Discuss Toy             117            188
21       Four Shirt              63            175
22       Real Snack               4            182
23         Door Toy              11            178
24     Couple Shirt              50            138
25      Thought Toy             147            157
26      Book Device              46             66

### This below funtion is called as helper function and is used as a boiler plate

In [31]:
def sql(query, params=None):
    with engine.connect() as conn:
        result = conn.execute(text(query), params or {})
        return pd.DataFrame(result.mappings().all())

In [39]:
def get_products():
    return sql("""SELECT product_id,product_name FROM products ORDER BY product_name""")

In [40]:
get_products()

2025-12-20 01:58:31,408 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-20 01:58:31,411 INFO sqlalchemy.engine.Engine SELECT product_id,product_name FROM products ORDER BY product_name
2025-12-20 01:58:31,412 INFO sqlalchemy.engine.Engine [generated in 0.00471s] {}
2025-12-20 01:58:31,426 INFO sqlalchemy.engine.Engine ROLLBACK

     product_id   product_name
0            13  Ability Snack
1            64    Account Toy
2            69   Actually Toy
3            48    After Table
4           112  Against Table
..          ...            ...
200         193     Whom Table
201         111    Whose Snack
202         136     Within Toy
203          35     Within Toy
204         200   Writer Table

[205 rows x 2 columns]

## Add Product Stored procrdure

In [42]:
def call_sp(product_name,category,price,stock,reorder_level,supplier_id):
    query=text("""CALL prod_add(p_name,p_category,p_price,p_stock,p_reorder,p_supplier)""")
    para={'p_name':product_name,
          'p_category':category,
          'p_price':price,
          'p_stock':stock,
          'p_reorder':reorder_level,
          'p_supplier':supplier_id}
    
    with engine.begin() as conn:
        conn.execute(query,para)

## Get categories

In [44]:
def get_cat():
    return sql("SELECT DISTINCT category FROM products")

In [ ]:
get_cat()

2025-12-20 13:11:25,264 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-20 13:11:25,266 INFO sqlalchemy.engine.Engine SELECT DISTINCT category FROM products
2025-12-20 13:11:25,268 INFO sqlalchemy.engine.Engine [generated in 0.00601s] {}
2025-12-20 13:11:25,305 INFO sqlalchemy.engine.Engine ROLLBACK

      category
0    Groceries
1     Clothing
2         Toys
3    Furniture
4  Electronics
5        Phone
6        Watch

# Get supplier

In [46]:
def get_sup():
    return sql("SELECT supplier_id,supplier_name FROM suppliers")

## Place Reorder

In [48]:
def reorder(product_id,quantity):
    query=text("""INSERT INTO reorders(reorder_id,product_id,reorder_quantity,reorder_date,status)
            SELECT MAX(reorder_id)+1,:pid,:qty,CURDATE(),"Ordered" FROM reorders""")
    para={'pid':product_id,
          'qty':quantity}
    
    with engine.begin() as conn:
        conn.execute(query,para)

In [49]:
reorder(102,300)

2025-12-20 14:27:23,780 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-20 14:27:23,804 INFO sqlalchemy.engine.Engine INSERT INTO reorders(reorder_id,product_id,reorder_quantity,reorder_date,status)
            SELECT MAX(reorder_id)+1,%(pid)s,%(qty)s,CURDATE(),"Ordered" FROM reorders
2025-12-20 14:27:23,805 INFO sqlalchemy.engine.Engine [generated in 0.00296s] {'pid': 102, 'qty': 300}
2025-12-20 14:27:23,898 INFO sqlalchemy.engine.Engine COMMIT